.appointment-bar {
	justify-content: center;
	color: white;
}

.max-size {
	width: 100%
}

.login-card {
	width: 50%;
	top: 50%;
	left: 50%;
	margin-left: -25%;
	margin-top: -25%;
	position:absolute;
}

.pointer {
  cursor: pointer;
}

.z-reset {
  z-index: 0;
}

.margin-increase {
  margin-top: 10px;
}

.position-reset {
  position: static; 
}

